<div id="modal" class="modal" _="on closeModal add .closing then wait for animationend then remove me">
    <div class="modal-underlay" _="on click trigger closeModal"></div>
    <div class="modal-content">
        <h2>About This Project</h2>
        <p>Welcome,</p>
        <p>This project is a fully functional web application developed as a learning project. The primary goal of this project is to understand and apply the basics of the Go programming language and to gain hands-on experience in deploying applications to the AWS cloud.</p>
        <p>Features of this application include:</p>
        <ul>
            <li>A contact form that sends emails using SMTP.</li>
            <li>Implementation of the Gin web framework for routing and handling requests.</li>
			<li>Use of the GORM library for interacting with a PostgreSQL database.</li>
			<li>Authentication using JWT tokens.</li>
			<li>Use of the AWS SDK for sending emails.</li>
			<li>Use of the AWS SDK for interacting with S3.</li>
            <li>Deployment on AWS, showcasing skills in cloud infrastructure.</li>
        </ul>
        <p>This project is listed on my CV as a demonstration of my ability to learn new technologies and apply them in a practical, real-world scenario. It reflects my commitment to continuous learning and my capability to manage and deploy applications in a cloud environment.</p>
        <br>
        <button class="btn danger" _="on click trigger closeModal">Close</button>
    </div>
</div>
