<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
  <div class="modal-underlay" _="on click trigger closeModal"></div>
  <div class="modal-content">
      <p>Contact Form</p>
      <form method="post" action="/submitform">
          <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left has-icons-right">
                  <input class="input" type="email" name="email" placeholder="Email input" required>
                  <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                  </span>
              </div>
          </div>

          <div class="field">
              <label class="label">Subject</label>
              <div class="control">
                  <input class="input" type="text" name="subject" placeholder="Subject input" required>
              </div>
          </div>

          <div class="field">
              <label class="label">Message</label>
              <div class="control">
                  <textarea class="textarea" name="message" placeholder="Textarea" required></textarea>
              </div>
          </div>

          <div class="field is-grouped">
              <div class="control">
                  <button class="button is-link" type="submit">Submit</button>
              </div>
              <div class="control">
                  <button class="button is-link is-light" type="button" _="on click trigger closeModal">Cancel</button>
              </div>
          </div>
      </form>


  </div>
</div>
