<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>maStupeti</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.5"></script> 
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script> 
    

    <link rel="stylesheet" href="/assests/styles.css">
    <style>
        body {
            padding: 20px;
            font-family: sans-serif;
        }
        .video-container {
            margin-bottom: 30px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            border-radius: 8px;
        }
        .video-title {
            font-size: 1.2em;
            margin-bottom: 10px;
        }
        .video-error {
            color: red;
            margin-top: 10px;
        }
    </style>
</head>
<body>    
    {{ template "navbar.html" . }}
    <br>
    <br>
    <header class="hero is-dark">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">Come and See MaStupeti do thier best!</h1>
            </div>
        </div>
    </header>

    <main class="section">
        <div class="container">
            <section id="latest-videos"></section>
               <h2 class="title">Latest Videos</h2>
               <div class="columns is-multiline">
               

        
        <div id="videos" class="columns is-multiline">
            {{ if .videos }}
                {{ range .videos }}
                    <div class="column is-one-third">
                        <div class="video-container">
                            <h3 class="video-title">{{ .Title }}</h3>
                            <p>{{ .Body }}</p>
                            <video width="100%" controls>
                                <source src="{{ .URL }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            <div class="video-error" style="display: none;">Failed to load video</div>
                        </div>
                    </div>
                {{ end }}
            {{ else }}
                <p>No videos found.</p> 
            {{ end }}
        </div>
    </div>
    </main>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>&copy; 2024 Made by AfroAsh</p>
        </div>
    </footer>
    
    <script>
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
    </script>
    
</body>
</html>
