<nav class="navbar is-dark">
  <div class="navbar-brand">
      <a class="navbar-item" href="/">Home</a>
      <a class="navbar-item" href="/videos">All Videos</a>
  </div>
  <div class="navbar-menu">
      <div class="navbar-end">
          {{if .IsAuthenticated}}
              <button class="btn primary" hx-get="/upload-modal" hx-target="body" hx-swap="beforeend">Upload</button>
              <a class="navbar-item" href="/logout">Logout</a>
          {{else}}
              <!-- Trigger/Open The Signup Modal -->
              <button class="btn primary" hx-get="/signup-modal" hx-target="body" hx-swap="beforeend">SignUp</button>
              <!-- Trigger/Open The Login Modal -->
              <button class="btn primary" hx-get="/login-modal" hx-target="body" hx-swap="beforeend">Login</button>
          {{end}}
      </div>
  </div>
</nav>